<!--@elvariable id="utils" type="org.tinywind.schemereporter.html.TemplateUtils>"-->
<!--@elvariable id="enums" type="java.util.List<org.jooq.meta.EnumDefinition>"-->
<!--@elvariable id="sequences" type="java.util.List<org.jooq.meta.SequenceDefinition>"-->
<!--@elvariable id="tables" type="java.util.List<org.jooq.meta.TableDefinition>"-->
<!--@elvariable id="totalRelationSvg" type="java.lang.String"-->
<!--@elvariable id="relationSvg" type="java.util.Map<java.lang.String,java.lang.String>"-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Report</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

    <style>
        .element-in-set:after { content: ', '; }
        .element-in-set:last-of-type:after { content: ''; }
        .text-ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100%; }
        svg { width: 100%; }
        svg > g > polygon { fill: transparent; }
    </style>
</head>
<body>
<div class="container">
    <div th:if="${enums.size() > 0}">
        <a name="EnumDefinition"></a>
        <h3> Enum Definition </h3>
        <div th:each="enumElement, status : ${enums}">
            <a th:name="'enum' + ${enumElement.name}"></a>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 th:text="${enumElement.name}">
                        <small><i th:text="${enumElement.comment}"></i></small>
                    </h4>
                </div>
                <table class="table table-condensed" style="table-layout: fixed;">
                    <tbody>
                    <tr>
                        <td>
                            <span th:each="literal : ${enumElement.literals}" th:text="${literal}" class="element-in-set"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a name="TableDefinition"></a>
    <h3> Table Definition </h3>
    <div class="svg-container" th:utext="${totalRelationSvg}"></div>
    <div th:each="tableElement, status : ${tables}">
        <a th:name="'table' + ${tableElement.name}"></a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 th:text="${tableElement.name}">
                    <small><i th:text="${tableElement.comment}"></i></small>
                </h4>
                <div style="text-align: center;" th:utext="${relationSvg[tableElement.name]}"></div>
            </div>
            <table class="table table-condensed" style="table-layout: fixed;">
                <colgroup>
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                    <col style="width: 6%"/>
                    <col style="width: 6%"/>
                    <col style="width: 8%"/>
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                </colgroup>
                <thead>
                <tr class="info">
                    <th>column</th>
                    <th>type</th>
                    <th style="text-align: center;">nullable</th>
                    <th style="text-align: center;">pkey</th>
                    <th style="text-align: center;">defaulted</th>
                    <th>referred</th>
                    <th>refer</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="column : ${tableElement.columns}">
                    <td class="text-ellipsis" th:title="${column.name}" th:text="${column.name}"></td>
                    <td th:if="${column.type.type.equals('USER-DEFINED')}"
                        th:title="${column.type.userType}"
                        th:onclick="'location.href=#enum' + ${column.type.userType}"
                        role="button" class="text-ellipsis text-info"
                        th:text="${column.type.userType}"></td>
                    <td th:unless="${column.type.type.equals('USER-DEFINED')}"
                        th:title="${column.type.type} + (${column.type.length} != 0 ? ' (' + ${column.type.length} + ')' : '')"
                        class="text-ellipsis"
                        th:text="${column.type.type} + (${column.type.length} != 0 ? ' (' + ${column.type.length} + ')' : '')"></td>
                    <td style="text-align: center;">
                        <div th:if="${column.type.nullable}" class="glyphicon glyphicon-ok"></div>
                    </td>
                    <td style="text-align: center;">
                        <div th:if="${column.primaryKey != null}" class="glyphicon glyphicon-ok"></div>
                    </td>
                    <td style="text-align: center;">
                        <div th:if="${column.type.defaulted}" class="glyphicon glyphicon-ok"></div>
                    </td>
                    <td>
                        <div th:each="key : ${column.uniqueKeys}">
                            <div th:each="fkey : ${key.foreignKeys}" class="text-ellipsis"
                                 th:title="'[' + ${fkey.keyTable.name} + ']' + ${utils.listJoin(fkey.keyColumns, ' ', 'name')}">
                                [<span th:text="${fkey.keyTable.name}"></span>]
                                <span th:each="col : ${fkey.keyColumns}" th:text="${col.name}"></span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div th:each="fkey : ${column.foreignKeys}">
                            <a th:href="'#key' + ${fkey.referencedKey.name}" class="text-ellipsis"
                               th:title="'[' + ${fkey.referencedTable.name} + ']' + ${utils.listJoin(fkey.referencedColumns, ' ', 'name')}">
                                [<span th:text="${fkey.referencedTable.name}"></span>]
                                <span th:each="col : ${fkey.referencedColumns}" th:text="${col.name}"></span>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${tableElement.uniqueKeys.size() > 0}">
                <table class="table table-condensed" style="table-layout: fixed;">
                    <colgroup>
                        <col style="width: 20%"/>
                        <col style="width: 30%"/>
                        <col style="width: 50%"/>
                    </colgroup>
                    <thead>
                    <tr class="info">
                        <th>unique key</th>
                        <th>columns</th>
                        <th>description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ukey : ${tableElement.uniqueKeys}">
                        <td class="text-ellipsis" th:title="${ukey.name}" th:text="${ukey.name}">
                            <a th:name="'key' + ${ukey.name}"></a>
                        </td>
                        <td>
                            <span th:each="e : ${ukey.keyColumns}" th:text="${e.name}" class="element-in-set"></span>
                        </td>
                        <td th:text="${ukey.comment}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${tableElement.columns != null && tableElement.columns.size() > 0}">
                <table class="table table-condensed" style="table-layout: fixed;">
                    <colgroup>
                        <col style="width: 20%"/>
                        <col style="width: 80%"/>
                    </colgroup>
                    <thead>
                    <tr class="info">
                        <th>column</th>
                        <th>description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="column : ${tableElement.columns}" th:if="${column.comment != null && column.comment.length() > 0}">
                        <td class="text-ellipsis" th:title="${column.name}" th:text="${column.name}"></td>
                        <td th:text="${column.comment}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
